 <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ resume.name }} – Resume</title>
</head>
<body>
<div class="resume" style="display:flex;">

<div style="width:35%;background:#0b61d6;color:white;padding:20px">
<h2>Panashe Dzingwena</h2>
<p>Construction Worker</p>

<p><i class="fa-solid fa-envelope"></i> pdzingwena@outlook.com</p>
<p><i class="fa-solid fa-phone"></i> +263 77 123 4567</p>
<p><i class="fa-solid fa-location-dot"></i> Mutare</p>

<h3>Skills</h3>
<ul>
<li>Networking</li>
<li>Diagnostics</li>
<li>Windows & Linux</li>
</ul>
</div>

<div style="width:65%;padding:20px">
<h3>Profile</h3>
<p>Highly motivated construction worker with a strong commitment to safety, efficiency, and quality on the job site. Skilled in following instructions, working in teams, and adapting to various tasks within construction projects. Proficient in handling essential tools and equipment, as well as collaborating with experienced professionals to execute projects within established timelines..</p>

<h3>Experience</h3>
<p>Construction Worker</p>
<ul>
<li>•	Assisted in site preparation and cleanup.</li>
<li>•	Operated basic tools and helped with material installation.</li>
<li>•	Strictly adhered to safety regulations and proper use of protective gear.</li>
<li>•	Collaborated with foremen and other workers to ensure efficient task completion.</li>
<li>•	Followed safety protocols and ensured a clean and organized work environment</li>

</ul>

    Masonry Assistant
Makorei Prospectors Holdings Limited  – Harare, Zimbabwe
 February 2022 –  December 2024
•	Mixed and applied construction materials such as cement and mortar.
•	Transported and organized materials on-site.
•	Assisted in installing basic structures according to plans and specifications.
•	Fixed damaged mortar joints, replacing bricks and tuck-pointing
•	Reading blueprints to determine the materials and quantities needed for the project
•	Smoothing and polishing surfaces with hand or power tools


<h3>Education</h3>
<p>Diploma in IT – Mutare Polytechnic</p>
</div>

</div>

</body>
</html>
